<div class="container">
  <!-- <input  placeholder={{placeholder}}  [formControl]="control"/> -->
  <!-- <ion-item lines="none">
    <ion-input
      placeholder="{{ placeholder }}"
      [formControl]="control"
    ></ion-input>
    <ion-icon  [name]="iconName" slot="start"></ion-icon>
  </ion-item> -->
  <!-- <ion-item style="border: 1px solid red; height: 40px">
    <ion-icon
      style="margin-top: -2px"
      name="person"
      slot="start"
    ></ion-icon>
    <ion-select
      style="margin-top: -10px"
      class="custom-select"
      label="Category"
      [interfaceOptions]="customPopoverOptions2"
      interface="Category"
      placeholder="Select One"
    >
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item> -->
  <ion-item>
    <ion-icon
 
      
      [name]="iconName"
      slot="start"
    ></ion-icon>
    <ion-select
    
      class="custom-select"
       [label]="label"
      interface="Categorry"
      placeholder="Select One"
    >
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>
</div>