<app-header [Heading]="'Sender'"></app-header>
<ion-content [scrollEvents]="true">
       <ion-list
        lines="none"
       >
        <ion-item-group class="chat-group" *ngFor="let chat of chats">
                    <app-chat-box [chat]="chat" [current_user_id]="currentUserId"></app-chat-box>
                    
        </ion-item-group>
          
       </ion-list>
</ion-content>
 <ion-footer>
  <form [formGroup]="messageForm">
    <ion-toolbar>
      <ion-textarea
       autoGrow
       rowa="1"
       placeholder="Send message"
       class=""
        formControlName="textMessage"
       >
    
        
      </ion-textarea>
      <ion-buttons slot="end">
       <ion-fab-button size="small" (click)="send()">
             <ion-icon name="send"></ion-icon>
       </ion-fab-button>
     </ion-buttons>
  </ion-toolbar>
  </form>

 </ion-footer>