:host {
    ion-item {
      border: 1px solid #16924a;
      border-radius: 5px;
      margin-top: 4%;
      height: 80px;
      ion-icon {
        color: grey !important;
        margin-top: -0.01rem;
      }
    }
    ion-input {
      font-size: 14px;
      margin-top: -10px;
    }
  }
  