<app-header [Heading]="'Store Address'"></app-header>
<ion-content>
  <div class="fluid">
    <div class="row justify-content-center">
      <div class="col  col-md-6 mt-md-5 ">
          <div class="form-container mt-5">
             <h2 class="text-center">
                 <ion-text >
                      Store Address
                 </ion-text> 
             </h2>
            <app-input
            [placeholder]="'Product name'"
            >
  
            </app-input>
            <app-input
            [placeholder]="'Product name'"
            >
  
            </app-input>
            <app-input
            [placeholder]="'Product name'"
            >
  
            </app-input>
            <app-input
            [placeholder]="'Product name'"
            >
  
            </app-input>
            <app-input
            [placeholder]="'Product name'"
            >
  
            </app-input>
            <app-input
            [placeholder]="'Product name'"
            >
  
            </app-input>
            <div class="addButton pt-2">
                <app-button [class]="'w-100%'" [title]="'UPDATE'">
    
                </app-button> 
              </div>
          </div>
      </div>
    </div>
  </div>
</ion-content>