<app-header [Heading]="'Store Address'"></app-header>
<ion-content>
  <div class="fluid">
    <div class="row justify-content-center">
      <div class="col  col-md-6 mt-md-5 ">
          <div class="form-container mt-5">
             <h2 class="text-center">
                 <ion-text >
                      Store Address
                 </ion-text> 
             </h2>
             <div class="addButton pt-2">
              <app-button [class]="'w-100%'" (click)="autoPopulate()" [title]="'use current address'">
             
              </app-button> 
            </div>
            <app-input
            [iconName]="'location-outline'"
            [placeholder]="'Street'"
            [control]="formGroup.controls.street"
            >
  
            </app-input>
            <app-input
            [iconName]="'location-outline'"
            [placeholder]="'sub region Line 1'"
            [control]="formGroup.controls.subRegion"
            >
  
            </app-input>
            <app-input
            [iconName]="'location-outline'"
            [placeholder]="'City'"
            [control]="formGroup.controls.city"
            >
  
            </app-input>
            <app-input
            [iconName]="'location-outline'"
            [placeholder]="'Region/State/Province'"
            [control]="formGroup.controls.region"
            >
  
            </app-input>
            <app-input
            [iconName]="'location-outline'"
            [placeholder]="'Postal Code'"
            [control]="formGroup.controls.PostalCode"
            >
  
            </app-input>
            <app-input
            [iconName]="'location-outline'"
            [placeholder]="'Address Line 2'"
            [control]="formGroup.controls.AddressLine2"
            >
  
            </app-input>
            <div class="addButton pt-2">
                <app-button [class]="'w-100%'" (click)="updatedetails()" [title]="'UPDATE'">
               
                </app-button> 
              </div>
          </div>
      </div>
    </div>
  </div>
</ion-content>