:host{
    .Product-details-container{
        ion-text{
         font-size: 0.8rem;
         font-weight: bolder;
        }
     }
     .productContainer{
        border:1px solid #16924a;
         ion-avatar{
             img{
                 width:3rem;
                 height:3rem
             }
             margin-left: 0.5rem;
         }
     }
     .table-header,.table-row{
        ion-col{
         font-size: 0.5rem;
        }
       
     }
     ion-row{
       border:none
        }
     .table-header {
         font-weight: bolder;
         border-bottom: 1px solid #ccc;
         color: grey;
       }
       
       .table-row {
         border-bottom: 1px solid #ddd;
       }
       
       ion-col {
         padding: 4px;
       }
       ion-button{
        --background: #16924a;
        --color:white;
        --background-activated:#16924a;
        margin-left: -25px;
        margin-top: 15px;
        height: 0.2rem !important;
        font-size: 0.5rem;
      }
      .buttonName{
        font-size: 10px !important;
        padding: 0 !important;
      }
      .name{
        font-size: 1rem;
      }
      .order-container{
        // border:1px solid #14934b;
        padding: 2%;
        margin-top: 20px;
      }
      .details{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .text-muted{
        
      }
      hr {
      
        border-top: 2px dashed #14934b;
      }
      ion-list{
        ion-icon{
          color: #14934b;
        }
      }
      ion-badge{
        background-color: #14934b;
      }
      .unread-indicator {
        // background: var(--ion-color-primary);
      
        // width: 10px;
        // height: 10px;
      
        // border-radius: 100%;
      
        // position: absolute;
      
        // inset-inline-start: 12px;
        // top: 12px;
        ion-avatar{
          img{
              width:3rem;
              height:3rem
          }
          margin-left: 0.5rem;
      }
      }
      
      .metadata-end-wrapper {
        position: absolute;
      
        top: 10px;
        inset-inline-end: 10px;
      
        font-size: 0.8rem;
      
        display: flex;
        align-items: center;
      }
      
      ion-label strong {
        display: block;
      
        max-width: calc(100% - 60px);
      
        overflow: hidden;
      
        text-overflow: ellipsis;
      }
      
      ion-label ion-note {
        font-size: 0.9rem;
      }
      .order-container{
        .badge{
              background-color: #14934b;
             
              
        }
        padding: 1%;
        // border: 1px dashed #14934b;
        width: 95% !important;
        margin-left: auto;
        margin-right: auto;
      }
      ion-item-sliding{
        border-top: 0.5px solid #b9eed0;
        border-bottom: 0.2px solid #b9eed0;
      }
      .badges{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
      }
      .addButton{
         .cancel{
            width: 93% !important;
            margin-left: auto;
            margin-right: auto;
            height: 30px !important;
         }
      }
      .componentSty{
        height: 4rem;
      }
      .cancelOrder-container{
       
      }
}