<app-header [Heading]="'Products'"></app-header>
<ion-content>
  <div class="container">
    <div class="row">
      <div class="col">
       
        <!-- if there is nothing to show  -->
        <div *ngIf="!productList" class="empty">
         
          <div class="empty-text text-center p-4">
            <h2>No Products Found</h2>
            <p>There are currently no products to display.</p>
          </div>
        </div>

        <!-- if there something to show -->
        <div *ngIf="productList" class="notEmpty">
          <div *ngFor="let item of productList" class="mt-3 productContainer">
            <a [routerLink]="['/productDetails', item.id]"> 
          
            <div class="row">
              <div class="col col-2">
                <ion-avatar class="mt-2" slot="start">
                  <img
                    alt="Silhouette of a person's head"
                   [src]="item.url"
                  />
                </ion-avatar>
              </div>
              <div class="col Product-details-container">
                <ion-text>{{item.name}}</ion-text>
                <ion-grid>
                  <!-- Header row -->
                  <ion-row class="table-header">
                    <ion-col>Sold out</ion-col>
                    <ion-col>In stock</ion-col>
                    <ion-col>Quantity</ion-col>
                  </ion-row>
  
                  <!-- Data rows -->
                  <ion-row class="table-row">
                    <ion-col>{{item.character.quantity_sold}}</ion-col>
                    <ion-col>{{item.character.quantity_available}}</ion-col>
                    <ion-col>{{item.character.quantity_added}}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </a>
          </div>
        </div>


        
      </div>
    </div>
  </div>
  <!-- <ion-modal
    [ngStyle]="modalStyle"
    trigger="open-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
    <ng-template>
      <div class="block p-3">
        <app-dropdown-input
          [label]="'Category'"
   
        >

        </app-dropdown-input>
       
      
      
          <app-input
          [placeholder]="'Product name'"
          >

          </app-input>
          <app-input
          [placeholder]="'Product name'"
          >

          </app-input>
          <app-input
          [placeholder]="'Product name'"
          >

          </app-input>
          <div class="addButton pt-2">
            <app-button [class]="'w-100%'" [title]="'ADD'">

            </app-button> 
          </div>
        
      </div>
    </ng-template>
  </ion-modal> -->
     <!-- modal -->
     <!-- <app-modal trigger="open-modal">
      <div class="block p-3">
        <div [ngStyle]="imagecontainer" class="image-container  m-1 p-2">
          <ion-avatar [ngStyle]="avatarStyle" class="m-auto">
            <img *ngIf="!imageUrl" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="imageUrl" alt="Silhouette of a person's head" [src]="imageUrl" />
          </ion-avatar>
          <ion-icon (click)="takePicture()" class="camera-icon" slot="end" size="large" name="camera"></ion-icon>
        </div>
        <app-dropdown-input
          [label]="'Category'"
          [options]="categories" (ionChange)="selectedValueChanged($event)"
          [control]="productForm.controls.category"
        >
        </app-dropdown-input>
       
          <app-input
          [placeholder]="'Product name'"
          [iconName]="'pricetag-outline'"
          [control]="productForm.controls.productName"
          >

          </app-input>
          <app-input
          [placeholder]="'Bundle price'"
          [iconName]="'cash-outline'"
          [control]="productForm.controls.bundlePrice"
          >

          </app-input>
          <app-input
          [placeholder]="'Item quantity'"
          [iconName]="'albums-outline'"
          [control]="productForm.controls.itemQuantity"
          >
          </app-input>
          <app-text-area 
          [placeholder]="'Description'"
          [control]="productForm.controls.desc"
          ></app-text-area>
          <div class="addButton pt-2">
            <app-button [class]="'w-100%'" (click)="addProduct()" [title]="'ADD'">

            </app-button> 
          </div>
        
      </div>
    </app-modal> -->
</ion-content>
<ion-fab  slot="fixed" vertical="bottom" horizontal="end" (click)="openModal()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

